body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff7e6;
  padding: 20px;
}

#cachorro {
  width: 150px;
  margin: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.grid-item {
  font-size: 40px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
